body {
  background: url(/background.jpg);
  color: rgb(5, 45, 5);
}

.list {
  background-color:rgba(144, 238, 144, 0.575);
  margin-top: 30px;
  margin-left: 20px;
  padding-bottom: 20px;
}

button {
  color:white;
  background-color: darkgreen;
}

.delete {
  margin-right: 5px;
}